<h1>Books#show</h1>

<div>
  <%= flash[:notice] %>
</div>
<p>Title: <%= @book.title %></p>
<p>Body:  <%= @book.body %></p>

<p><%= link_to "edit", "/books/#{@book.id}/edit"%> | <%= link_to "back","/books"%></p>